.jumbotron {
  padding-top: 6rem;
  background-color: #047515;
}
.bg-footer {
  background-color: #047515;
}
.fw-bold {
  text-decoration: none;
}
section {
  padding-top: 5rem;
}
.gallery-img {
  width: 400px;
  height: 400px;
}

#gallery .row > * {
  padding: 0;
}
